body {
    margin:0px;
    padding:0px;
    }
h1{
    padding-left: 1%;
}
.head{
    background-color: rgb(134, 190, 255);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('header.jpg'); 
        background-size: cover; /* Adjust as needed */ 
        height: 190px; /* Set a height for your header */ 
        /* Other styling properties */ 
        z-index: -1;
      }
.headbtn{
    background-color: rgb(134, 190, 255);
    font-size: 120%;
    padding-left: 1%;
}
form{
    background-color: rgb(225, 225, 225);
}
input {
    margin-right:0.5em;
  }
input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.btn {
    color:fff;
    background-color: rgb(134, 190, 255);
    &:hover, &:focus {
      background-color: rgb(176, 213, 255);
      box-shadow:none;
    }
}
.station{
    background-color: rgb(134, 190, 255);
    display:box;
    padding-left: 1%;
}
.rmk{
    color:rgb(0, 111, 237);
    font-size: 80%;
}
.nobus{
    color:red;
    font-size:110%;
    padding-left: 2%;
}
.eta{
    font-size:100%;
    padding-left: 2%;
}
.formarea{
    padding-left: 2%;
    display: inline;
}
.pageend{
    font-size: 110%;
}
