html,body {
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    }
    #line{
        margin: 0px;
        padding: 0px;
    }
h1{
    padding-left: 1%;
}
.head{
    background-color: rgb(134, 190, 255);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('header.jpg'); 
        background-size: cover; /* Adjust as needed */ 
        height: 190px; /* Set a height for your header */ 
        /* Other styling properties */ 
        z-index: -1;
      }
.head1{
    background-color: rgb(134, 190, 255);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('header1.jpg'); 
        background-size: cover; /* Adjust as needed */ 
        height: 190px; /* Set a height for your header */ 
        /* Other styling properties */ 
        z-index: -1;
      }
.headbtn{
    background-color: rgb(134, 190, 255);
    font-size: 120%;
    padding-left: 1%;
    padding-top: 3px;
    padding-bottom: 3px;
}
form{
    text-align: left;
    padding-right: 1%;
}
input {
    margin-right:0.5em;
  }
.btn {
    color:fff;
    background-color: rgb(134, 190, 255);
    &:hover, &:focus {
      background-color: rgb(176, 213, 255);
    }
}
.station{
    background-color: rgb(134, 190, 255);
    display:box;
    padding-left: 1%;
}
.rmk{
    color:rgb(0, 111, 237);
    font-size: 80%;
}
.nobus{
    color:red;
    font-size:110%;
    padding-left: 2%;
}
.eta{
    font-size:100%;
    padding-left: 2%;
}
.pageend{
    font-size: 110%;
}
.finder{
    background-color: rgb(0, 84, 148);
    padding-left: 1%;
    color: white;
}
